
html, body{
    height:100vh;
}

body{
    background-color:#999;
    background: #7c7c7c;
    background-image:radial-gradient( circle ,#7c7c7c,#000000 100%);
    height:100vh;

}

.calculator{
    background-color:#353535;
    width:300px;
    padding:15px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    border-radius: 5px;
    box-shadow:0 6px 0 #a1a1a1,0 8px 10px rgba(0,0,0,0.1);
}

.result{
    width:90%;
    background-color:#cecfac;
    color:#3b3b32;
    text-align: right;
    margin:8px 0px 20px 10px;
    height:50px;
    line-height:50px;
    color:rgb(0, 0, 0);
    font-family:Oswald;
    font-size:36px;
    padding-right:10px;
    overflow:hidden;
    box-shadow:inset 0 0 8px  rgba(0,0,0,0.5),inset 0px 2px 0px #a1a1a1;

}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.signature{
    font-family:Oswald;
    font-size:16px;
    color:whitesmoke;
    position:relative;
    z-index:-1;
    top:5px;
    right:4px;
    width:70%;
    
}

ul li{
    background-color:#4e4e4e;
    font-family:Oswald;
    width:15%;
    padding:10px;
    float: left;
    color:#fff;
    margin:5px;
    cursor:pointer;
    font-size:20px;
    border-radius:5px;
    text-align: center;
    line-height:auto;
    box-shadow:0 5px 0 #e5e5e5,inset 0 2px 0px #a1a1a1;
}

ul li:active{
    position: relative;
    top:5px;
}

ul li:nth-child(16){
    height:90px;
    line-height:90px;
}

ul li:last-child{
    margin-top: -48px;
    width:65%;

}